In [2]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

/root/anaconda3/envs/py3_4.0/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

# constuct

In [ ]:
s = pd.Series({'A':1,'B':2,'C':3})

In [3]:
data = pd.DataFrame({'A':[1,2,3],'B':[4,5,6],'C':[7,8,9]},index=["a","b","c"])
data

   A  B  C
a  1  4  7
b  2  5  8
c  3  6  9

In [ ]:
data.append(s)

In [5]:
data = [['haha hehe ','1',1],['sh fsd fds','2',2]]
pd.DataFrame(data,columns=['A1','A2','A3'])

           A1 A2  A3
0  haha hehe   1   1
1  sh fsd fds  2   2

# index

In [3]:
# 先行坐标，再列坐标

data.loc["b","B"]

5

In [6]:
data.loc[['a','c'],['A','C']]

   A  C
a  1  7
c  3  9

In [9]:
# 使用数字
data.iloc[[0,2],[0,2]]

   A  C
a  1  7
c  3  9

# apply

In [17]:
data
data.apply(lambda x:x['A']-x['C'], axis = 1)

   A  B  C
a  1  4  7
b  2  5  8
c  3  6  9

a   -6
b   -6
c   -6
dtype: int64

In [18]:
data
data.apply(lambda x:x+1)

   A  B  C
a  1  4  7
b  2  5  8
c  3  6  9

   A  B   C
a  2  5   8
b  3  6   9
c  4  7  10

In [19]:
data.apply(lambda x:x == 2)

       A      B      C
a  False  False  False
b   True  False  False
c  False  False  False

# map

map 函数只作用在一个series， apply则是对df的多个series  只有series 有map函数

In [21]:
data
data['A'].map(lambda x:x+1)

   A  B  C
a  1  4  7
b  2  5  8
c  3  6  9

a    2
b    3
c    4
Name: A, dtype: int64

# 采样

In [23]:
data.sample(frac = 0.4)

   A  B  C
a  1  4  7